#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

/* for responsive less than 600 px */

@media screen and (max-width: 600px){


	.TITLETABEL{
		font-size: 11px !important;
	}
	/* footer */
	.TITLEFOOTER{
		font-size: 14px !important;
		text-align: center;
	}
	li.ps-md-4> a{
		font-size: 11px !important;
	}
	.FOOTERBUTTON{
		padding: 5px 20px !important;
	}
	.FOOTERTITLELASTONE{
		font-size: 11px ;
	}

}